<a href="https://colab.research.google.com/github/mohammedhelalu/Emploees/blob/master/multi_linear_regressionmmm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [28]:
Dataset=pd.read_csv('petrol_consumption.csv')

In [29]:
Dataset.head()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
0,9.0,3571,1976,0.525,541
1,9.0,4092,1250,0.572,524
2,9.0,3865,1586,0.580,561
3,7.5,4870,2351,0.529,414
4,8.0,4399,431,0.544,410

In [30]:
Dataset.describe()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
count,48.000000,48.000000,48.000000,48.000000,48.000000
mean,7.668333,4241.833333,5565.416667,0.570333,576.770833
std,0.950770,573.623768,3491.507166,0.055470,111.885816
min,5.000000,3063.000000,431.000000,0.451000,344.000000
25%,7.000000,3739.000000,3110.250000,0.529750,509.500000
50%,7.500000,4298.000000,4735.500000,0.564500,568.500000
75%,8.125000,4578.750000,7156.000000,0.595250,632.750000
max,10.000000,5342.000000,17782.000000,0.724000,968.000000

Prepairing the data

In [31]:
x= Dataset [['Petrol_tax','Average_income','Paved_Highways','Population_Driver_licence(%)']]
y= Dataset [['Petrol_Consumption']]

Enter data to training and test

In [32]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=0)

Training the algorihm

In [33]:
from sklearn.linear_model import LinearRegression
Regressor=LinearRegression()
Regressor.fit(x_train,y_train)
LinearRegression()

LinearRegression()

To make prediction

In [34]:
y_pred=Regressor.predict(x_test)
y_pred

array([[469.39198872],
       [545.64546431],
       [589.66839402],
       [569.7304133 ],
       [649.77480909],
       [646.63116356],
       [511.60814841],
       [672.47517717],
       [502.07478157],
       [501.2707342 ]])

Compair actual and predict

In [44]:
#df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})

Evaluating the Algorithm

In [45]:
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 56.8222474789647
Mean Squared Error: 4666.344787588362
Root Mean Squared Error: 68.31064915215168

Evaluate the Model

In [48]:
from sklearn.metrics import r2_score
Accuracy=r2_score(y_test,y_pred)*100
print(" Accuracy of the model is %.2f" %Accuracy)

 Accuracy of the model is 20.36

In [49]:
from sklearn.metrics import mean_squared_error
print('The Error of our Model is: ',mean_squared_error(y_test,y_pred))

The Error of our Model is:  4666.344787588362